<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to the Homepage</h1>
    <form action="/" method="POST">
        <label for="owner">Owner:</label>
        <input type="text" name="owner" id="owner"><br>
        <label for="repo">Repo:</label>
        <input type="text" name="repo" id="repo"><br>
        <label for="offset">Offset:</label>
        <input type="number", name="offset", id="offset"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>